<html>
<head>
	<title>INDEX</title>
	<link href="/static/css/index.css" rel="stylesheet" >
</head>
<body>

	<section class="hero">

    <div class="hero-content">
    
       <h1 class="hero-title">
            Discover the World of Baseball
       </h1>
         
       <h2 class="hero-subtitle">
            We have the best cheerleaders !
       </h2>
         
       <button type="button" class="hero-button" onclick="location.href='login/'">
            Enter &raquo;
       </button>
    
    </div>

</section>

</body>
</html>