.productArea{
	height: 500px;
	padding-left: 8%;
}


.info{
	
	padding: 1%;
	float: left;
	border-radius: 20px;
	width: 18%;	
	margin: 1%;

}

.info img{
	width: 100%;
}

a{
	text-decoration: none;
}

